.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 90vh;
    max-height: 200vh; */
    background: url('./images/loginBack5.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 40px;
    h1 {
        font-size: 36px;
        text-align: center;
    }
    .input-box{
        position: relative;
        width: 100%;
        /* height: 50px; */
        /* background: sandybrown; */
        margin: 30px 0;
        input{
            width: 100%;
            height: 100%;
            background: transparent;
            /* border: none; */
            outline: none;
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 40px;
            font-size: 16px;
            color:  #ffff;
            padding: 20px 45px 20px 20px;
            &::placeholder {
                color: #808080;
            }
            
        }
        i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    }
    .rules{
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin-top: -28px;
        /* margin: 0 0 15px; */
        margin-bottom: -15px;
        .rulessss{
            color: red;
            
        }
    }
    
    .btn{
        margin-top: 25px;
        width: 100%;
        height: 45px;
        background: #ffff;
        border: none;
        border-radius: 40px;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        &:hover{
            transform: scale(1.1,1.1);
        }
        transition: transform 0.5s ease;
    }
    .login-link{
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;
        p {
            color: black;
        }
        p a{
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}