<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");  // Display flash messages using JavaScript
            {% endfor %}
        {% endif %}
        {% endwith %}
    </script>
</head>
<body>

    <link rel="stylesheet" href="./static/navbar.css">
    <div class="navbar">
        <a href="{{url_for('home')}}" class="navL">BetterAI</a>
        <div class="dropdown">
            <button class="dropbtn">Product lists</button>
            <div class="dropdown-content">
                <a href="{{url_for('myLLM')}}">myLLM</a>
                <!-- <a href="https://www.asus.com/tw/">DALLE helper</a> -->
            </div>
            
        </div>
        <div class="dropdown">
            <button class="dropbtn">About me</button>
            <div class="dropdown-content">
                <a href="https://www.instagram.com/david._.teng/">Instagram</a>
                <a href="https://www.facebook.com/profile.php?id=100010503635046">Facebook</a>
                
            </div>
        </div>
        <a href="{{url_for('userPage')}}" class="navR logged userImg"><img src="./static/images/userImg.png" alt="userImg"></a>
        
        <a class="navR unlogged btn" href="{{url_for('login')}}">log in</a>
        <a class="navR unlogged btn" href="{{url_for('signUp')}}">sign up</a>
    </div>

    
    <div class="container">
        <div class="wrapper">
            <form action="{{url_for('login')}}" method="post">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" required name="username">
                    <i class='bx bxs-user'></i>
                    
                </div>
                <div class="rules">
                    <div class="rulessss">
                        {% if NameError %}
                            {{ NameError }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" required name="userPWD">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="rules">
                    <div class="rulessss">
                        {% if PWDError %}
                            {{ PWDError }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                </div>

                <div class="remember-forget">
                    
                    <label for="reme" class="check">
                    <input type="checkbox" name="rememberForget" id="reme" class="check">Remember me</label>
                    
                    <a href="">Forget password?</a>
                </div>

                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                    <p>Don't have a account? <a href="{{url_for('signUp')}}">Register</a></p>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>