<link rel="stylesheet" href="./static/navbar.css">
<div class="navbar">
    <a href="{{url_for('home')}}" class="navL">BetterAI</a>
    <div class="dropdown">
        <button class="dropbtn">Product lists</button>
        <div class="dropdown-content">
            <a href="{{url_for('myLLM')}}">myLLM</a>
            <!-- <a href="https://www.asus.com/tw/">DALLE helper</a> -->
        </div>
        
    </div>
    <div class="dropdown">
        <button class="dropbtn">About me</button>
        <div class="dropdown-content">
            <a href="https://www.instagram.com/david._.teng/">Instagram</a>
            <a href="https://www.facebook.com/profile.php?id=100010503635046">Facebook</a>
            
        </div>
    </div>
    <a href="{{url_for('userPage')}}" class="navR logged userImg"><img src="./static/images/userImg.png" alt="userImg"></a>
    
    <a class="navR unlogged btn" href="{{url_for('login')}}">log in</a>
    <a class="navR unlogged btn" href="{{url_for('signUp')}}">sign up</a>
</div>